@font-face {
	font-family: 'AlAhli';
	src: url('../fonts/AlAhli-Medium.eot');
	src: url('../fonts/AlAhli-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AlAhli-Medium.woff') format('woff'),
		url('../fonts/AlAhli-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Hacen Liner Print-out';
	src: url('../fonts/HacenLinerPrint-out.eot');
	src: url('../fonts/HacenLinerPrint-out.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HacenLinerPrint-out.woff') format('woff'),
		url('../fonts/HacenLinerPrint-out.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'lintelmedium';
    src: url('../fonts/the_northern_block_ltd_-_lintel_medium-webfont.eot');
    src: url('../fonts/the_northern_block_ltd_-_lintel_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/the_northern_block_ltd_-_lintel_medium-webfont.woff2') format('woff2'),
         url('../fonts/the_northern_block_ltd_-_lintel_medium-webfont.woff') format('woff'),
         url('../fonts/the_northern_block_ltd_-_lintel_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lintelregular';
    src: url('../fonts/the_northern_block_ltd_-_lintel-webfont.eot');
    src: url('../fonts/the_northern_block_ltd_-_lintel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/the_northern_block_ltd_-_lintel-webfont.woff2') format('woff2'),
         url('../fonts/the_northern_block_ltd_-_lintel-webfont.woff') format('woff'),
         url('../fonts/the_northern_block_ltd_-_lintel-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}